{% extends "base.html" %}

{% block content %}

{% if paint_logout %}
  {% if attributes %}
    <p>{{ _(You have the following attributes:) }}</p>
    <table class="table table-striped">
      <thead>
        <th>{{ _(Name) }}</th><th>{{ _(Values) }}</th>
      </thead>
      <tbody>
        {% for attr in attributes %}
          <tr><td>{{ attr.0 }}</td>
          <td><ul class="list-unstyled">
            {% for val in attr.1 %}
              <li>{{ val }}</li>
            {% endfor %}
          </ul></td></tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-danger" role="alert">{{ _(You don't have any attributes) }}</div>
  {% endif %}
  <a href="{{ url_for('auth_saml.index_slo') }}" class="btn btn-danger">{{ _(Logout) }}</a>
{% else %}
<a href="{{ url_for('auth_saml.index_sso2') }}" class="btn btn-primary">{{ _(Login and access again to this page) }}</a>
{% endif %}

{% endblock %}
